body {
    font-size: 62.5%;
    background: #dadada;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    padding: 0;
    margin: 0 ;
}

body::-webkit-scrollbar {
    width: 6px;
    padding: 0 2px;
}

body::-webkit-scrollbar-track {
    background: #878788;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 5px;
}

.accordion {
    font-size: 1rem;
    width: 30vw;
    margin: 0 auto;
    border-radius: 5px;
}

.accordion-header,
.accordion-body {
    background: white;
}

.accordion-header {
    padding: 1.5em 1.5em;
    background: #3F51B5;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-size: .8em;
    letter-spacing: .1em;
    transition: all .3s;
}

.accordion-header:hover {
    background: #2D3D99;
    position: relative;
    z-index: 5;
}

.accordion-body {
    background: #fcfcfc;
    color: #3f3c3c;
    display: none;
}

.accordion-body__contents {
    font-size: .85em;
    height: 46.91px
}

.accordion__item.active:last-child .accordion-header {
    border-radius: none;
}

.accordion:first-child>.accordion__item>.accordion-header {
    border-bottom: 1px solid transparent;
}

.accordion__item>.accordion-header:after {
    content: "\2193";
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
}

.accordion__item.active>.accordion-header:after {
    transform: rotate(-180deg);
}

.accordion__item.active .accordion-header {
    background: #2D3D99;
}

.accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: black;
    position: relative;
}

.environment-group{
    & > .field{
        margin: 0;
        padding: 1em;
        border: 0;
        width: 60%;
        font-size: 1.1em;
        outline: 0;
        display: inline-block;
    }
    
    & > .button,
    & > .button:focus{
        width: 16%;
        padding: 0;
        margin: 0;
        border: 0;
        height: 46.91px;
        vertical-align: top;
        color: white;
        text-align: center;
        background-color: #3f51b5;
        outline: 0;
        cursor: pointer;
    }

    & > .button:hover,
    & > .button:active{
        background-color: #2D3D99;
    }

    &>.button.-is-white,
    &>.button.-is-white:focus {
        background-color: white;
        color: #333;
    }
    
    &>.button.-is-white:hover,
    &>.button.-is-white:active{
        background-color: white;
    }

    &>.button.-is-white.-fill{
        width: 32%;
    }
}

.-toast{
    font-size: 1.5em !important;
    text-align: center !important;
}

.loader{
    text-align: center;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    z-index: 9;
    background: rgba(#2B3134, 0.9);
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    svg path,
    svg rect{
        fill: #FF6700;
    }
}

.icon-lock {
    width: 48px;
    height: 48px;
    overflow: hidden;
    transform: scale(0.5);
    display: inline-block;
    vertical-align: middle;
}

.icon-lock .lock-top-1 {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 14%;
  background-color: #000;
  border-radius: 40%;
  background-color: #3F51B5;
}

.icon-lock.-unlocked .lock-top-1{
    left: 80%;
    border-bottom-right-radius: 0;
    background-color: #636363;
}

.icon-lock.-unlocked:hover .lock-top-1{
    background-color: #2f2f2f;
}

.icon-lock .lock-top-2 {
  width: 24%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -12%;
  top: 22%;
  background-color: #f1f1f1;
  border-radius: 25%;
}

.icon-lock.-unlocked .lock-top-2{
    left: 80%;
}

.icon-lock .lock-body {
  width: 60%;
  height: 48%;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  bottom: 11%;
  border-radius: 15%;
  background-color: #3F51B5;
}

.icon-lock.-unlocked .lock-body {
  background-color: #636363;
}

.icon-lock.-unlocked:hover .lock-body{
    background-color: #2f2f2f;
}

.icon-lock .lock-hole {
  width: 16%;
  height: 16%;
  position: absolute;
  left: 50%;
  margin-left: -8%;
  top: 51%;
  border-radius: 100%;
  background-color: #f1f1f1;
}

.icon-lock .lock-hole:after {
  content: "";
  width: 43%;
  height: 78%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 100%;
  background-color: inherit;
}

.user-name{
    vertical-align: sub;
    display: inline-block;
    max-width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rodal-dialog{
    width: 90% !important;

    h2{
        margin-top: 0;
    }

    .field{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        display: inline-block;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        outline: 0;
    }

    .button,
    .button:focus{
        padding: 10px 15px;
        border-radius: 5px;
        border: 0;
        margin-top: 10px;
        width: 100%;
        background-color: #3F51B5;
        border: 1px solid #3F51B5;
        color: white;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans';
        letter-spacing: 2px;
        outline: 0;
        cursor: pointer;
    }

    .button:hover,
    .button:active{
        background-color: #2D3D99;
    }
}

.tag{
    display: inline-block;
    font-size: .8em;
    background: #2d3d99;
    border-radius: 3px;
    width: 70px;
    text-align: center;
    color: white;
    vertical-align: middle;
    margin-left: 5px;
}

.accordion__item.js-accordion-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.button{
    &.-outlined,
    &.-outlined:focus{
        background-color: transparent;
        color: #3F51B5;
    }

    &.-outlined:hover,
    &.-outlined:active{
        color: white;
        background-color: #3F51B5;
    }
}

.confirm-buttons{
    & > .button{
        width: 49% !important;
    }

    & > .button:not(:first-child){
        margin-left: 1%;
    }
}

.rodal-close{
    top: 22px !important;
}

@media screen and (max-width: 1000px) {
    body {
        padding: 0;
    }
    .accordion {
        width: 100%;
    }
}